# cache for test output
.cache

# compiled python files
__pycache__/

# run logs
outputs/

# IDE files
.c9*
.idea/

# Jupyter notebook files
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/

# Packaging
*.egg-info/

# Files from IDES
.*.py

# TF Hub modules
tensorflow-hub

# for Macs
.DS_Store

# build outputs for PyPI
build/
dist/

# Weights & Biases outputs
wandb/

# Tensorboard logs
runs/

# checkpoints
checkpoints/

# vim
*.swp

.vscode
*.csv
!tests/sample_outputs/csv_attack_log.csv
