bert-score>=0.3.5
editdistance
flair
filelock
language_tool_python
lemminflect
lru-dict
datasets
nltk
numpy>=1.19.2
pandas>=1.0.1
scipy>=1.4.1
torch>=1.7.0,!=1.8
transformers>=3.3.0
terminaltables
tqdm
word2number
num2words
more-itertools
PySocks!=1.5.7,>=1.5.6
