bert-score
editdistance
filelock
language_tool_python
lru-dict
nlp
nltk
numpy
pandas>=1.0.1
scikit-learn
scipy==1.4.1
sentence_transformers
torch
transformers>=3
tensorflow>=2
tensorflow_hub
tensorboardX
terminaltables
tokenizers==0.8.0-rc4
tqdm
visdom
wandb
flair
