bert-score>=0.3.5
editdistance
flair
filelock
language_tool_python
lemminflect
lru-dict
datasets>=2.4.0
nltk
numpy>=1.21.0
pandas>=1.0.1
scipy>=1.4.1
torch>=1.7.0,!=1.8
transformers>=4.30.0
terminaltables
tqdm
word2number
num2words
more-itertools
pinyin>=0.4.0
jieba
OpenHowNet
