recommonmark==0.7.1
Sphinx==4.1.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.4.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nbsphinx==0.8.7
widgetsnbextension==3.5.1
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
scipy==1.7.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-text==2.5.0
sentence-transformers==2.0.0
transformers==4.10.1
textattack==0.3.4
sqlitedict==1.7.0
stanza==1.2.3
Cython==0.29.24
