recommonmark
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nbsphinx==0.8.8
widgetsnbextension==3.5.1
ipykernel
ipython
ipython-genutils
ipywidgets
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-text
sentence-transformers
transformers
textattack
sqlitedict
stanza
Cython
