recommonmark
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
nbclient
nbconvert
nbsphinx
widgetsnbextension
ipykernel
ipython
ipython-genutils
ipywidgets
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-text
sentence-transformers
transformers
textattack
sqlitedict
stanza
Cython
