# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build documentation with Sphinx

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install pandoc # install pandoc
        python -m pip install --upgrade pip setuptools wheel # update python
        python setup.py install_egg_info # Workaround https://github.com/pypa/pip/issues/4537
        pip install -e . ".[dev]" # This should install all packages for development
    - name: Build docs with Sphinx and check for errors
      run: |
        sphinx-build -b html docs docs/_build/html -W
